.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.header__nav {
    display: none;
}

.header__logo {
    display: block;
    height: 3rem;
}

.header__logo--link {
    padding: 3rem 1.5rem;
}

.header__nav--toggle {
    padding: 3rem 1.5rem;
    font-size: 2rem;
    background: none;
    border: none;
}
